html, body {
  margin: 0;
  height: 100%;
  overflow: hidden
}

:root {
  --dark-background-color: #111111;
  --dark-background-color-alt: #222222;
  --dark-trim-color: #333333;
  --dark-text-color: #eeeeee;
}

body {
  /* Light Theme */
  --background-color: #ffffff;
  --background-color-alt: #eeeeee;
  --trim-color: #dddddd;
  --text-color: #333333;
  
  --primary-color: #009578;
  --font-family: 'Quicksand', sans-serif;

  margin: 60px 0 0 0;
  color: var(--text-color);
  font-family: var(--font-family);
  background: var(--background-color);
}

body.theme-dark {
  --background-color: var(--dark-background-color);
  --background-color-alt: var(--dark-background-color-alt);
  --trim-color: var(--dark-trim-color);
  --text-color: var(--dark-text-color);
}

@media (prefers-color-scheme: dark) {
  body.theme-auto {
      --background-color: var(--dark-background-color);
      --background-color-alt: var(--dark-background-color-alt);
      --trim-color: var(--dark-trim-color);
      --text-color: var(--dark-text-color);
  }
}

.select.backgroundColor{
  display: flex;
  justify-content: center;
}

select {
  display: grid;
  justify-content: center;
  align-content: center;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
}

.calculator-grid > button:hover {
  background-color: rgba(255, 255, 255, .9);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, .75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  /* color: rgba(255, 255, 255, .75);
  font-size: 1.5rem; */
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}
